#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#content>div{
    outline: black 1px solid;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    background-color: rgb(221, 162, 13);
    padding: 10px;
    border-radius: 10px;
}



h1{
    display: flex;
    justify-content: center;
}

.pizza-photo{
    height: 250px;
    width: 400px;
}

body{
    background-color: lightsalmon;
}



.descriptionReviewerP{
    font-weight: bold;
}

.cocaColaImg{
    height: 250px;
    width: 400px;
}


#content>.contactInformationDiv{
    display: flex;
    align-items: flex-start;
}

.contactInformationNameP{
    font-weight: bold;
    font-size: 20px;
}

.contactInformationTitleP,.contactInformationPhoneNumberP,.contactInformationEmailP{
    padding-left: 30px;
    margin: 0px;
    font-size: 18px;
}